section{
    padding: 10px;
    margin:200px 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div, img{
    height: 200px;
    width: 200px;
    margin: 10px;
}

img{
    height: 200px;
    width: 200px;
    transition: 1s ease;
}

img:hover{
    cursor: pointer;
    height: 210px;
    width: 210px;
}