

.image{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/295/163/719/anime-anime-boys-picture-in-picture-kimetsu-no-yaiba-kamado-tanjir%C5%8D-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 68vh;
    width: 100vw;
    height: 68vh;
}